Django==4.2.11
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
celery==5.3.6
kombu==5.3.6
boto3==1.34.64
psycopg2-binary
drf-spectacular==0.27.1
structlog==24.1.0
environ-config==23.2.0
pytest==8.1.1
pytest-django==4.8.0
gunicorn==21.2.0